/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header / .header-con
3. Banner / .banner-con
4. Welcome Company / .welcome-company-con
5. Hosting Plans / .hosting-plans-con
6. Serach Domain / .search-domain-con
7. VPS price slider  / .vps-price-slider-con
8. Choose Dedicated server / .choose-dedicated-server-con
9. Comparison plans / .comparison-plans-con
10. Testimonials / .testimonials-con
11. Footer / .footer-con
*/
/*------------------------------------------------------------------
# [Color Codes]

 #primary--color: #0f0fed;
 #black--color: #000000;
 #black--famiy1: #222222;
 #black--family2: #333333;
 #secondary--color: #ffffff;
 #text-color: #777777;
 #accent-color: #ff0f0f;
 #ice-bg-color: #f9f9ff;
 #grey-color: #dddddd;
 #grey-family-color: #c8c8c8;

*/
/*------------------------------------------------------------------
# [Typography]

Body copy: "Nunito Sans", sans-serif;
Headings: "Montserrat", system-ui;
*/


/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a,
button input {
    outline: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

figure {
    margin: 0;
}


/* 字体设置 */
/* @font-face {
    font-family: "FZXBS";
    src: url("../fonts/FZXBS-G.ttf") format('truetype');
  } */

body {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-color);
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: "Microsoft YaHei";
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: "Microsoft YaHei" , "Montserrat", system-ui, sans-serif;
}

span.error {
    font-family: "Microsoft YaHei" , "Nunito Sans", sans-serif;
}

:root {
    --primary--color: #0f0fed;
    --black--color: #000000;
    --black--famiy1: #222222;
    --black--family2: #333333;
    --secondary--color: #ffffff;
    --text-color: #777777;
    --accent-color: #ff0f0f;
    --ice-bg-color: #f9f9ff;
    --grey-color: #dddddd;
    --grey-family-color: #c8c8c8;
}

/* TOP HEADER BAR SECTION */

.top-bar-con {
    background-color: var(--black--famiy1);
    padding: 5px 0;
}

.top-bar-con a {
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    margin: 0 18px;
    opacity: 80%;
    vertical-align: middle;
    transition: ease-in-out 0.6s;
}

.top-bar-con a:hover {
    text-decoration: none;
    color: var(--accent-color) !important;
    opacity: 100%;
}

.top-bar-con a:hover span {
    color: var(--accent-color) !important;
    opacity: 100%;
}

.top-bar-con span {
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    vertical-align: middle;
    margin-left: 3px;
    font-family: "Microsoft YaHei" , "Nunito Sans", sans-serif;
    transition: ease-in-out 0.6s;
}

.top-bar-con img {
    vertical-align: middle;
}

/* BG OUTER WRAPPER */

.main-banner-one {
    height: 920px;
    background-image: url(../images/banner-bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top:72px;
    padding-top: 52px;
    /* padding-bottom: 75px; */
    overflow: visible;
}

/* HEADER SECTION */
.header-con .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    color: var(--secondary--color);
    font-weight: 700;
    padding: 10px 0 !important;
    position: relative;
    text-transform: uppercase;
}

.header-con .navbar-light .navbar-nav .nav-link:hover {
    color: var(--accent-color);
}

.header-con .navbar-expand-lg .navbar-nav {
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.header-con {
    z-index: 5;
    padding: 46px 0 30px;
}

.scroll-up {
    background: linear-gradient(to right, #0f0fed 0%, #0ea6f5 100%);
    z-index: 10;
    transition: top 5s linear;
    padding: 25px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    animation: slide-down 0.7s;
}

.scroll-down {
    background: linear-gradient(to right, #0f0fed 0%, #0ea6f5 100%);
    z-index: 10;
    transition: top 5s linear;
    padding: 25px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    animation: slide-down 0.7s;
}

.header-con .navbar {
    padding: 0;
}


.header-con .navbar-light .navbar-nav .nav-link:hover::before {
    width: 100%;
}

.header-con .navbar-light .navbar-nav .nav-link::before {
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    content: '';
    position: absolute;
    background: var(--accent-color);
    transition: ease-in-out 0.3s;
}

.header-con .navbar-light .navbar-nav .dropdown .nav-link:hover::after {
    width: 0;
}

.header-con .navbar-light .navbar-nav .dropdown .nav-link::after {
    width: unset;
    position: absolute;
    background: none;
    top: 19px;
    font-size: 15px;
}

.header-con .navbar-light .navbar-nav .dropdown-menu {
    padding: 10px 0;
    margin: 0;
    background-color: var(--secondary--color);
    border: 0;
    z-index: 2;
    width: 230px;
    margin-top: 10px;
    box-shadow: 0px 0px 100px rgb(0 0 0 / 15%);
    border-radius: 4px;
}

.header-con .navbar-light .navbar-nav .dropdown-menu a:last-child {
    border-bottom: none;
}

.header-con .navbar-light .navbar-nav .dropdown-menu .dropdown-item {
    padding: 7px 25px;
    border-bottom: 1px solid var(--secondary--color);
    font-size: 17px;
    line-height: 25px;
}

.header-con .navbar-light .navbar-nav .dropdown-menu .dropdown-item:active,
.header-con .navbar-light .navbar-nav .dropdown-menu .dropdown-item:active {
    background-color: var(--primary--color);
    color: var(--secondary--color);
}

.header-con .navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: var(--primary--color);
    color: var(--secondary--color);
}

.header-con .navbar-light .navbar-brand {
    margin: 0;
    padding: 0;
}

/* HEADER SECTION */
/* BACK TO TOP BUTTON */
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 60px;
    z-index: 99;
    font-size: 18px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    width: 80px;
    height: 80px;
    -webkit-animation: spineer 2s infinite;
    animation: spineer 2s infinite;
    border-radius: 14px;
}

.header-contact .contact-btn {
    min-width: 110px;
    background-color: transparent;
    border: 1px solid var(--secondary--color);
    color: var(--secondary--color);
    height: 40px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    z-index: 1;
}

.header-contact .contact-btn:hover {
    background: var(--secondary--color);
    color: var(--accent-color);
    transition: ease-in-out 0.6s;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 15%);
}


.header-contact {
    margin-left: 49px;
}

#back-to-top-btn:focus {
    outline: none;
}

@-webkit-keyframes spineer {
    from {
        box-shadow: 0 0 0 0 rgb(255, 15, 15, .99);
    }

    to {
        box-shadow: 0 0 0 45px rgb(24, 63, 60, .01);
    }
}

@keyframes spineer {
    from {
        box-shadow: 0 0 0 0 rgb(255, 15, 15, .99);
    }

    to {
        box-shadow: 0 0 0 45px rgb(24, 63, 60, .01);
    }
}

#back-to-top-btn::after {
    font-size: 18px;
    font-weight: 600;
    content: "\f062";
    line-height: 50px;
    color: var(--secondary--color);
    font-family: "Microsoft YaHei" ,"Font Awesome 5 free";
}


#back-to-top-btn:hover {
    cursor: pointer;
}

/* BACK TO TOP BUTTON */
/* LOADER SECTION */
.loader-mask {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 99999;
    background-color: #fff;
}

.loader {
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    font-size: 0;
    position: absolute;
    text-indent: -9999em;
    display: inline-block;
    margin: -25px 0 0 -25px;
    color: var(--primary--color);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader div {
    top: 0;
    left: 0;
    opacity: .5;
    float: none;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--primary--color);
    -webkit-animation: ballPulseDouble 2s ease-in-out infinite;
    animation: ballPulseDouble 2s ease-in-out infinite;
}

.loader div:last-child {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes ballPulseDouble {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ballPulseDouble {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* LOADER SECTION */

.banner-con p {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 35px;
}

.banner-con .banner-price span {
    font-family: "Microsoft YaHei" ,"Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.banner-con .banner-price span.starting-text {
    position: relative;
    top: -19px;
}

.banner-con .banner-price {
    font-size: 20px;
    font-weight: 700;
    font-family: "Microsoft YaHei" ,"Montserrat", system-ui;
    margin-bottom: 39px;
}

.banner-con .banner-img-con img {
    position: relative;
    right: 90px;
}

/* WELCOME COMPANY SECTION */
.heading-title-con h2 {
    margin-bottom: 16px;
}

.heading-title-con h3 {
    margin-bottom: 20px;
}

.heading-title-con p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.heading-title-con {
    margin-bottom: 60px;
}

.heading-title-con p.special-prgraph {
    font-size: 16px;
    line-height: 28px;
}

.welcome-company-con .welcome-company-inner-content {
    margin-left: 71px;
}

.welcome-company-con .welcome-box {
    background-color: var(--secondary--color);
    border-radius: 14px;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
    padding: 55px 30px 45px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.welcome-company-con .welcome-box img {
    margin: 0 auto 16px;
}

.welcome-company-con .welcome-box span.number {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 10px;
}

.welcome-company-con .welcome-box span.welcome-text {
    font-size: 20px;
    font-family: "Microsoft YaHei" ,"Nunito Sans", sans-serif;
}

.welcome-company-con .welcome-company-inner-content a {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}

.welcome-company-con .welcome-company-inner-content a img {
    transition: ease-in-out 0.6s;
}

.welcome-company-con .welcome-company-inner-content a:hover img {
    transform: translateX(3px);
}

.welcome-company-con .welcome-company-inner-content a:hover {
    text-decoration: none;
    color: var(--primary--color);
}

/* OUR HOSTING PLANS SECTION*/
.hosting-plans-con,
.comparison-plans-con {
    /* height: 1080px; */
    background-image: url(../images/our-hosting-plans-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hosting-plans-con .hosting-plan-box,
.managed-unmanaged-con .managed-box,
.team-box {
    box-shadow: 0px 10px 20px rgb(0 0 0 / 7%);
    border-top: 5px solid var(--accent-color);
    border-radius: 14px;
    position: relative;
    background-color: var(--secondary--color);
}

.hosting-plans-con .hosting-plan-box img,
.managed-unmanaged-con .managed-box img {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0;
}

.hosting-plans-con .hosting-plan-box h3,
.managed-unmanaged-con .managed-box h3 {
    margin-bottom: 10px;
}

.hosting-plans-con .hosting-plan-box p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}

.hosting-plans-con .hosting-plan-box .upper-portion {
    padding: 49px 35px 22px;
}

.hosting-plans-con .hosting-plan-box .middle-portion {
    background-color: var(--ice-bg-color);
    padding: 26px 20px 28px;
    border-top: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
}

.hosting-plans-con .hosting-plan-box .middle-portion span.red-text {
    margin-bottom: 10px;
}

.hosting-plans-con .hosting-plan-box .price span,
.managed-unmanaged-con .managed-box .price span {
    font-size: 42px;
    line-height: 44px;
}

.hosting-plans-con .hosting-plan-box .price,
.managed-unmanaged-con .managed-box .price {
    margin-bottom: 22px;
    color: var(--black--family2);
}

.hosting-plans-con .hosting-plan-box .lower-portion {
    padding: 31px 38px 34px;
}

.hosting-plans-con .hosting-plan-box .lower-portion ul li,
.managed-unmanaged-con .managed-box .lower-portion ul li {
    padding-left: 30px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--grey-color);
}

.hosting-plans-con .hosting-plan-box .lower-portion ul li:last-child,
.managed-unmanaged-con .managed-box .lower-portion ul li:last-child {
    margin-bottom: 0;
    border: none;
}

.hosting-plans-con .hosting-plan-box .lower-portion ul li i {
    left: 0;
    top: 4px;
    color: var(--grey-family-color);
}

.hosting-plans-con .hosting-plan-box.blue,
.managed-unmanaged-con .managed-box.blue {
    border-top: 5px solid var(--primary--color);
}

/* SEARCH DOMAIN SECTION */
.search-domain-con {
    background-image: url(../images/domain-map-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.search-domain-con form .form-group span {
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    left: 27px;
    pointer-events: none;
}

.search-domain-con form input {
    width: 920px;
    height: 70px;
    padding: 15px 20px 10px 110px;
    border: 1px solid var(--grey-color);
    border-radius: 14px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 300;
}

.search-domain-con form input:focus {
    border: 1px solid var(--primary--color);
    box-shadow: inset 0 1px 1px rgb(20 70 46 / 8%), 0 0 8px rgb(15 15 237 / 60%);
    outline: none;
}

/* .search-domain-con form input::placeholder {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 300;
} */

.search-domain-con form button {
    position: absolute;
    background-color: var(--primary--color);
    padding: 0;
    min-width: 180px;
    height: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
    color: var(--secondary--color);
    border: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    right: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.search-domain-con form button:hover {
    background-color: var(--secondary--color);
    color: var(--primary--color);
    border: 1px solid var(--primary--color);
    transition: ease-in-out 0.6s;
}

.search-domain-con form button:focus {
    outline: none;
}

.search-domain-con form {
    margin-bottom: 40px;
}

.search-domain-con ul li {
    font-size: 24px;
}

.search-domain-con ul li span {
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
    margin-top: 10px;
}

.search-domain-con ul li span.sale-tag {
    background-color: var(--accent-color);
    font-size: 10px;
    width: 42px;
    line-height: 10px;
    padding: 3px 5px;
    margin: 7px auto 0;
    border-radius: 4px;
}

/* VPS SLIDER SECTION */
.price_rangetxt {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 35px;
}

.vps-price-slider-con .sliderbox {
    background-color: var(--secondary--color);
    box-shadow: 0px 10px 20px rgb(0 0 0 / 7%);
    border-top: 5px solid var(--primary--color);
    border-radius: 14px;
    padding: 70px 88px 76px;
    position: relative;
}

.price_rangetxt span {
    font-size: 20px;
    color: var(--black--family2);
    font-weight: bold;
}

.price_rangetxt div.icon {
    color: var(--secondary-color);
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
    font-weight: 700;
}

.price_rangetxt div.current {
    color: var(--accent-color);
}

.price_rangetxt div.current span {
    color: var(--accent-color);
}

.price_content .smallbox {
    display: flex;
    gap: 12px;
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 14px;
}

.image_holder img {
    margin-bottom: 10px;
}

.image_holder span {
    margin-bottom: 10px;
}

.slider-outer {
    margin-bottom: 48px;
}

.price_content .heading {
    font-size: 14px;
    line-height: 14px;
    color: var(--text-color);
    font-weight: 700;
    display: block;
    margin-bottom: 14px;
}

.price_content .value {
    font-size: 20px;
    line-height: 20px;
    color: var(--black--family2);
    font-weight: 700;
    margin-bottom: 0;
}

.product-con {
    margin-bottom: 37px;
}

.promotion-con {
    gap: 20px;
}

.promotion-con .off-tag {
    font-size: 48px;
    line-height: 48px;
}

.promotion-con .coupon-code {
    font-size: 16px;
    color: var(--black--family2);
}

.promotion-con .coupon-code span {
    font-size: 24px;
}

.promotion-con .secondary-button {
    margin-left: 20px;
}

/* DEDICATED SERVER SOLUTION SECTION */
.choose-dedicated-server-con .feature-box {
    padding: 0 20px;
    border-right: 1px solid var(--grey-color);
}

.feature-box img {
    margin-bottom: 21px;
}

.feature-box h4 {
    color: var(--black--family2);
    margin-bottom: 13px;
}

.feature-box p {
    letter-spacing: -0.2px;
}

/* COMPARSION PLANS SECTION */
/* COMPARISON PLAN STYLING */
@media (max-width: 768px) {
    .comparison-table ul {
        display: block;
    }
}

.comparison-plans-con .comparison-table .plan-top .plan-heading {
    padding-bottom: 26px;
}

.comparison-table {
    border-radius: 14px;
    background: linear-gradient(to right, #0f0fed 0%, #0ea6f5 100%);
    box-shadow: 0px 10px 20px rgb(0 0 0 / 7%);
}

.comparison-plans-con .comparison-table .plan-top .primary-button a {
    min-width: 180px;
}

.comparison-plans-con .comparison-table h4,
.comparison-plans-con .comparison-table span.heading {
    color: var(--secondary--color);
    line-height: 30px;
}

.comparison-plans-con .comparison-table .plan-top h4,
.comparison-plans-con .comparison-table .plan-top span.sub-heading {
    margin-bottom: 8px;
    color: var(--secondary--color);
    line-height: 30px;
}

.comparison-plans-con .generic-price span.price-text {
    line-height: 60px;
}

.comparison-plans-con .generic-price {
    margin-bottom: 16px;
}

.comparison-table ul {
    display: flex;
    top: 0px;
    z-index: 10;
    padding-bottom: 14px;
    display: none;
}

.comparison-table ul li:last-child {
    border-right: 1px solid #ddd;
}

.comparison-table table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    border-radius: 14px;
}

.comparison-table th {
    padding: 26px 0 0;
}

.comparison-table td {
    padding: 12.5px 0;
    font-size: 16px;
    /* color: var(--black-color); */
}

.comparison-table td,
.comparison-table th {
    empty-cells: show;
    border-top: 1px solid var(--grey-color);
    border-right: 1px solid var(--grey-color);
}

.comparison-table tr:first-child th {
    border-top: none;
    background: none;
    border-right: none;
}

.comparison-table th:first-child,
.comparison-table td:first-child {
    padding-left: 19px;
    padding-right: 19px;
    color: var(--secondary--color);
    border-top: 1px solid rgba(221, 221, 221, 0.25);
}

.comparison-table td:first-child {
    font-weight: 300;
}

.comparison-table th:last-child,
.comparison-table td:last-child {
    border-right: none;
}

/* table tr:last-child td:last-child {
    border-bottom-right-radius: 14px;
} */


.comparison-table td,
.comparison-table th {
    text-align: left;
}

.comparison-table td.default {
    display: table-cell;
}

.hide {
    border: 0;
    background: none;
}

.comparison-table table thead tr th:first-child {
    width: 342px;
}

.comparison-table ul li {
    list-style: none;
    flex: 1;
    padding: 12px 30px;
    font-size: 15px;
}

.comparison-table ul li:last-child {
    border-right: 1px solid var(--grey-color);
}

.comparison-table li.active {
    background: var(--primary-color);
    color: var(--white-color);
}

.comparison-table td+td,
.comparison-table th+th {
    text-align: center;
    display: none;
    background-color: var(--secondary--color);
}

/***********************************/

@media (max-width: 991px) {
    .comparison-table ul {
        display: flex;
    }
}

@media (min-width: 992px) {

    td,
    th {
        display: table-cell !important;
    }

    td,
    th {
        width: auto;
    }

    td+td,
    th+th {
        width: auto;
    }
}

.comparison-plans-con .generic-price {
    font-size: 42px;
    line-height: 42px;
    color: var(--black--family2);
    font-weight: 700;
}

.comparison-plans-con .generic-price span {
    font-size: 16px;
    color: var(--black--family2);
}

.comparison-plans-con .plan-content {
    padding: 26px 37px 28px;
    background-color: var(--secondary--color);
    border-right: 1px solid var(--grey-color);
}

.comparison-plans-con td i {
    font-weight: bolder;
    font-size: 16px;
}

/* TESTIMONIAL SECTION */
.testimonials-con .white-box {
    background-color: var(--secondary--color);
    border-radius: 14px;
    box-shadow: inset 0px 10px 20px rgb(0 0 0 / 7%);
    border-top: 5px solid var(--accent-color);
    position: relative;
    padding: 41px 48px 44px;
    margin-left: 30px;
}

.testimonials-con .white-box span {
    font-size: 18px;
    margin-bottom: 16px;
    color: var(--black--family2);
}

.testimonials-con .owl-carousel .owl-item img {
    width: auto;
}

.testimonials-con .owl-carousel .owl-item img.testimonial-quote {
    top: -24px;
    right: 40px;
}

.testimonials-con .owl-carousel .owl-item img.person-img {
    top: 40px;
    left: -32px;
}

.testimonials-con .owl-stage-outer {
    padding-top: 30px;
}

.testimonials-con {
    margin-bottom: -46px;
}

/* FOOTER SECTION STYLING */
.footer-con {
    background-image: url(../images/footer-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 165px;
}

.footer-con .newsletter-con h6 {
    margin-bottom: 24px;
}

.footer-con .newsletter-con form input {
    width: 350px;
    height: 60px;
    padding: 15px 15px 10px;
    border-radius: 14px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
    border: none;
}

.footer-con .newsletter-con form input:focus {
    border: 1px solid var(--accent-color);
    box-shadow: inset 0 1px 1px rgb(20 70 46 / 8%), 0 0 8px rgb(255 15 15 / 60%);
    outline: none;
}

.footer-con .newsletter-con form button {
    position: absolute;
    background-color: var(--primary--color);
    padding: 0;
    min-width: 90px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-decoration: none;
    color: var(--secondary--color);
    border: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    right: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.footer-con .newsletter-con form {
    width: 350px;
    margin-bottom: 90px;
}

.footer-con .newsletter-con form button:hover {
    background-color: var(--accent-color);
    color: var(--secondary--color);
    /* border: 1px solid var(--primary--color); */
    transition: ease-in-out 0.6s;
}

.footer-con .newsletter-con form button:focus {
    outline: none;
}

.footer-sitemap-wrapper {
    display: grid;
    grid-template-columns: 24% 33% 43%;
    gap: 20px;
}

.footer-con .footer-sitemap-wrapper ul li a:hover {
    text-decoration: none;
    color: var(--accent-color);
}

.footer-con .sitemap h6 {
    margin-bottom: 35px;
}

.footer-con .sitemap ul li a {
    font-size: 16px;
    color: var(--secondary--color);
    font-weight: 300;
}

.footer-con .sitemap ul li {
    line-height: 19px;
    margin-bottom: 11px;
}

.footer-con .contact-form-wrapper {
    padding: 53px 27px;
    background-color: var(--primary--color);
    border-radius: 14px;
}

.footer-con .contact-form-wrapper form ul li {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}

.footer-con .contact-form-wrapper form ul li:last-child {
    margin-bottom: 18px;
}

.footer-con .contact-form-wrapper form ul li input {
    width: 100%;
    padding: 14px 18px;
    background-color: var(--secondary--color);
    border: none;
    height: 50px;
    border-radius: 14px;
}

.footer-con .contact-form-wrapper form ul li input:focus,
.footer-con .contact-form-wrapper form ul li textarea:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgb(20 70 46 / 8%), 0 0 8px rgb(255 15 15 / 60%);
    border-color: var(--accent-color);
}

.footer-con .contact-form-wrapper form ul li textarea {
    height: 80px;
    padding: 14px 18px;
    background-color: var(--secondary--color);
    border: none;
    width: 100%;
    float: left;
    border-radius: 14px;
}

.footer-con .contact-form-wrapper h4 {
    margin-bottom: 23px;
}

.footer-con .contact-form-wrapper form button {
    background-color: var(--accent-color);
    padding: 0;
    min-width: 100%;
    height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
    color: var(--secondary--color);
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 15%);
    border-radius: 14px;
    border: 1px solid transparent;
    transition: ease-in-out 0.6s;
}

.footer-con .contact-form-wrapper form button:hover {
    background-color: var(--secondary--color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.footer-con .row {
    padding-bottom: 70px;
    border-bottom: 1px solid rgb(0, 0, 86, 0.2);
}

.copyright-con {
    padding-top: 44px;
    padding-bottom: 75px;
    width: 100%;
}

.copyright-con span {
    margin-right: 11px;
}

.copyright-con .social-icons ul li {
    margin: 0 7.5px;
}

.copyright-con .social-icons ul li i {
    color: var(--secondary--color);
    transition: ease-in-out 0.6s;

}

.copyright-con .social-icons ul li i:hover {
    color: var(--accent-color);
    transform: translateY(-2px);
}

.footer-con .footer-sitemap-wrapper ul li a {
    position: relative;
}

.footer-con .footer-sitemap-wrapper ul li a::after {
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    content: '';
    position: absolute;
    background: var(--accent-color);
    transition: ease-in-out 0.3s;
}

.footer-con .footer-sitemap-wrapper ul li a:hover::after {
    width: 100%;
}

/* SUB BANNER SECTION */
.sub-bg-wrapper {
    height: 550px;
    background-image: url(../images/sub-banner-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-bg-wrapper .banner-con .banner-img-con img {
    right: unset;
}

/* hostiko story section */
.hostiko-story-con {
    background-image: url(../images/hostiko-story-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    border-radius: 14px;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 7%);
    background-color: var(--secondary--color);
}

.box .bottom-con {
    padding: 35px 37px;
}

.hostiko-story-con .box .bottom-con h4 {
    color: var(--black--family2);
}

/* history section */
.our-history-con .history-box {
    transition: ease-in-out 0.6s;
}

.our-history-con .owl-carousel .owl-stage-outer {
    padding-top: 115px;
}

.our-history-con .history-box .top-circle {
    position: absolute;
    top: -110px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.our-history-con .history-box .top-circle span {
    margin-bottom: 30px;
    color: var(--black--family2);
    font-size: 24px;
}

.our-history-con .history-box .top-circle i {
    color: var(--primary--color);
    width: 19px;
    height: 19px;
}

.diamond-container {
    width: 24px;
    height: 24px;
    background-color: var(--secondary--color);
}

.diamond-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid #dddddd;
    /* Border color and thickness */
    transform: translate(-50%, -50%) rotate(45deg);
    box-sizing: border-box;
    pointer-events: none;
}

.our-history-con .history-box .content h4 {
    color: var(--black--family2);
    font-weight: normal;
    margin-bottom: 12px;
}

.our-history-con .history-box .content {
    padding: 10px;
}

.our-history-con .owl-carousel .owl-nav.disabled {
    position: relative;
    display: block;
    margin: 0;
    top: 14%;
}

.our-history-con .owl-carousel .owl-nav button {
    margin: 0;
    top: -238px;
}

.our-history-con .owl-carousel:before {
    content: "";
    position: absolute;
    background-color: var(--grey-color);
    height: 1px;
    width: 100%;
    top: 70px;
    right: 0;
    left: 0;
    margin: auto;
}

.our-history-con .owl-carousel .owl-nav button.owl-prev {
    left: -30px;
    position: absolute;
}

.our-history-con .owl-carousel .owl-nav button.owl-next {
    right: -30px;
    position: absolute;
}

.our-history-con .owl-carousel .owl-nav button i {
    font-size: 25px;
    color: var(--grey-color);
}

.our-history-con .owl-carousel .item .history-box:hover .top-circle span {
    color: var(--accent-color);
}

.our-history-con .owl-carousel .item .history-box:hover .top-circle i {
    color: var(--accent-color);
}

.our-history-con .owl-carousel .owl-nav button:focus {
    outline: none;
    box-shadow: none;
    background-color: none;
    border: none;
}

.our-history-con .owl-carousel .owl-nav button:hover {
    background: none;
}

.our-history-con .owl-carousel .owl-nav button:hover i {
    color: var(--accent-color);
}

/* hostiko team section */
.hostiko-team-con .team-box {
    padding: 34px 28px 28px;
    transition: ease-in-out 0.6s;
}

.hostiko-team-con .team-box:hover {
    border-color: var(--primary--color);
}

.hostiko-team-con .team-box:hover img {
    transform: translateY(-2px);
}

.hostiko-team-con .team-box:hover span,
.hostiko-team-con .team-box:hover .social-icons ul li i {
    color: var(--primary--color);
}

.hostiko-team-con .team-box img {
    margin-bottom: 22px;
    transition: ease-in-out 0.6s;
}

.hostiko-team-con .team-box h4 {
    color: var(--black--family2);
    margin-bottom: 4px;
}

.hostiko-team-con .team-box span {
    font-size: 18px;
    margin-bottom: 12px;
    transition: ease-in-out 0.6s;
}

.hostiko-team-con .team-box p {
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--grey-color);
}

.hostiko-team-con .team-box .social-icons {
    padding-top: 24px;
}

.hostiko-team-con .team-box .social-icons ul li {
    margin: 0 16px;
}

.hostiko-team-con .team-box .social-icons ul li i {
    color: #aaaaaa;
    font-size: 18px;
    transition: ease-in-out 0.6s;
}

.hostiko-team-con .team-box .social-icons ul li i:hover {
    color: var(--primary--color);
    transform: translateY(-3px);
}

/* BUILD YOUR HOSTING SERVER SECTION */
.build-hosting-server-con .server-box {
    background-color: var(--secondary--color);
    box-shadow: 0px 10px 20px rgb(0 0 0 / 7%);
    border-top: 5px solid var(--accent-color);
    border-radius: 14px;
    padding: 63px 77px 70px;
    position: relative;
    z-index: 1;
    margin-bottom: -50px;
}

.build-hosting-server-con .server-box .heading-title-con p {
    font-size: 22px;
    line-height: 30px;
}

.build-hosting-server-con .server-box .right-content .price {
    font-size: 20px;
    margin-bottom: 15px;
}

.build-hosting-server-con .server-box .right-content .price span.font-montserat {
    font-size: 48px;
    line-height: 48px;
    margin: 0 3px;
}

.build-hosting-server-con .server-box .right-content .price span.only-text {
    top: -20px;
    position: relative;
}

/* SHARED PAGE STYLING */
.hosting-plans-con.four-plans .hosting-plan-box .lower-portion {
    padding: 31px 28px 34px;
}

.hosting-plans-con.four-plans .hosting-plan-box .lower-portion ul li:last-child {
    margin-bottom: 27px;
    border-bottom: 1px solid var(--grey-color);
}

/* PLANS INCLUDE SECTION */
.plans-include-con .feature-listing-con {
    padding: 0 20px 0 0;
    border-right: 1px solid var(--grey-color);
}

.plans-include-con .feature-listing-con ul li {
    padding-left: 25px;
    line-height: 23px;
    margin-bottom: 13px;
}

.plans-include-con .feature-listing-con ul li i {
    left: 0;
    top: 4px;
    color: #c9c9c9;
}

.plans-include-con .row {
    margin-bottom: 65px;
}

.plans-include-con h3 {
    margin-bottom: 20px;
}

/*  */
.deploy-in-seconds-con .smallbox {
    gap: 15px;
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary--color);
    border: 1px solid transparent;
    border-radius: 14px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
    transition: ease-in-out 0.6s;
}

.deploy-in-seconds-con .smallbox img {
    transition: ease-in-out 0.6s;
}

.deploy-in-seconds-con .smallbox:hover img {
    transform: translateY(-3px);
}

.deploy-in-seconds-con .smallbox:hover {
    border: 1px solid var(--primary--color);
}

.deploy-in-seconds-con .apps-con {
    margin-bottom: 78px;
}

.deploy-in-seconds-con .primary-button a {
    min-width: 210px;
}

/*  */
.shared-hosting-features-con .feature-box {
    padding-right: 20px;
}

.shared-hosting-features-con .feature-box img,
.choose-dedicated-server-con .feature-box img,
.vps-additional-features-con .additional-box img {
    transition: ease-in-out 0.6s;
}

.shared-hosting-features-con .feature-box:hover img,
.choose-dedicated-server-con .feature-box:hover img,
.vps-additional-features-con .additional-box:hover img {
    transform: translateY(-3px);
}

.shared-hosting-features-con .col-lg-4 {
    margin-bottom: 50px;
}

.shared-hosting-features-con .col-lg-4:nth-last-of-type(-n+3) {
    margin-bottom: 0;
}

/* faq section */
.faq-con .accordion-card .card-header {
    background-color: transparent;
    position: relative;
    border: none;
    padding: 0;
    border-radius: 20px;

}

.faq-con .accordion-card .card-header a:focus {
    text-decoration: none;
}

.faq-con .accordion-card .card-header a:hover {
    text-decoration: none;
}

.faq-con .accordian-section-inner {
    text-align: left;
}

.faq-con .accordion-card {
    margin-bottom: 40px;
    transition: ease-in-out 0.6s;
    border-radius: 20px;
    padding-right: 17px;

}

.faq-con .accordion-card h4 {
    text-decoration: none;
    margin-bottom: 16px;
    font-weight: normal;
    white-space: normal;
    color: var(--black--family2);

}

.faq-con .accordion-card a {
    padding: 0;
    align-items: center;
    display: block;
    text-align: left;
    justify-content: space-between;
    padding: 0;
}

.faq-con .accordion-card .card-body p {
    font-size: 16px;
    line-height: 24px;
}

.faq-con .accordion-card .card-body {
    padding: 0;
}

.plans-include-con a:hover {
    text-decoration: none;
    color: var(--accent-color);

}

/* help section */
.help-con .heading-title-con p {
    margin-bottom: 40px;
}

.help-con .heading-title-con .primary-button a {
    min-width: 210px;
}

/* vps */
.vps-bg {
    background-image: url(../images/vps-bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.vps-feature-content ul li {
    padding-left: 28px;
    margin-bottom: 12px;
}

.vps-feature-content ul li i {
    top: 4px;
    left: 0;
    color: #c9c9c9;
}

.vps-feature-content h4 {
    color: var(--black--family2);
    font-weight: 400;
    margin-bottom: 12px;
}

.vps-feature-content p {
    margin-bottom: 37px;
}

.vps-hosting-features-con .row {
    margin-bottom: 65px;
}

.vps-additional-features-con .additional-box {
    background-color: var(--secondary--color);
    border-radius: 14px;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
    padding: 42px 46px;
    width: 100%;
}

.vps-additional-features-con .additional-box .vps-content {
    padding-left: 30px;
}

.vps-additional-features-con .col-lg-6 {
    margin-bottom: 30px;
    display: flex;
}

.vps-additional-features-con .col-lg-6:nth-last-of-type(-n+2) {
    margin-bottom: 0;
}

.vps-additional-features-con {
    background-image: url(../images/vps-additional-feature-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

/* DEDICATED SERVER PAGE */
.dedicated-hosting-plans-con .dedicated-plans-box {
    background-color: var(--secondary--color);
    box-shadow: 0px 10px 20px rgb(0 0 0 / 7%);
    border-top: 5px solid var(--primary--color);
    border-radius: 14px;
    position: relative;
    transition: ease-in-out 0.6s;
}

.dedicated-hosting-plans-con .dedicated-plans-box .plans {
    padding: 25px 57px 27px;
    border-bottom: 1px solid var(--grey-color);
    /* transition: ease-in-out 0.6s; */
}

.dedicated-hosting-plans-con .dedicated-plans-box .plans:hover {
    width: 1130px;
    margin: 0 auto;
    background-color: var(--primary--color);
    border-radius: 14px;
    left: -10px;
    position: relative;
    padding: 25px 67px 27px;
}

.dedicated-hosting-plans-con .dedicated-plans-box .plans:hover *,
.dedicated-hosting-plans-con .dedicated-plans-box .plans:hover .content1 h5 {
    color: var(--secondary--color);
}

.dedicated-hosting-plans-con .dedicated-plans-box .plans:hover img {
    filter: invert(100%) brightness(100%);
}


.dedicated-hosting-plans-con .dedicated-plans-box .plans .content1 h5 {
    margin-bottom: 16px;
    color: var(--black--family2);
}

.dedicated-hosting-plans-con .dedicated-plans-box .plans span {
    margin-left: 11px;
}

.dedicated-hosting-plans-con .dedicated-plans-box .plans .content2 .price {
    margin-bottom: 9px;
}

.dedicated-hosting-plans-con .dedicated-plans-box .plans .content2 .price span {
    font-size: 20px;
}

.dedicated-hosting-plans-con .dedicated-plans-box .plans .content2 .secondary-button a {
    min-width: 164px;
    height: 45px;
    line-height: 45px;
}

.dedicated-hosting-plans-con .dedicated-plans-box .plans:hover .secondary-button a {
    background-color: var(--secondary--color);
    color: var(--primary--color);
    border: none;
}

/*  */
.dedicated-servers-features-con .dedicated-box {
    gap: 62px;
    padding-left: 43px;
    width: 100%;
}

.dedicated-servers-features-con .dedicated-box h4 {
    color: var(--black--family2);
    margin-bottom: 14px;
}

.dedicated-servers-features-con .col-lg-6 {
    margin-bottom: 50px;
    display: flex;
}

.dedicated-servers-features-con .col-lg-6:nth-last-of-type(-n+2) {
    margin-bottom: 0;
}

.managed-unmanaged-con .managed-box {
    padding: 60px;
}

.managed-unmanaged-con .managed-box .lower-portion ul li {
    padding-left: 0;
}

.managed-unmanaged-con .managed-box .price {
    margin-bottom: 30px;
}

.managed-unmanaged-con .managed-box p {
    line-height: 24px;
    /* font-weight: 300; */
}

/* CONTACT PAGE */
.customer-success-team-con .white-box {
    background-color: var(--secondary--color);
    box-shadow: 0px 10px 20px rgb(0 0 0 / 7%);
    padding: 50px;
    border-radius: 14px;
    width: 100%;
}

.customer-success-team-con .col-lg-6.col-md-6 {
    display: flex;
}

.customer-success-team-con .white-box img {
    margin-bottom: 27px;
}

.customer-success-team-con .white-box h4 {
    color: var(--black--family2);
}

/*  */
.mailing-address-con .contact-form-wrapper {
    padding: 47px 45px 50px;
    border-radius: 14px;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
    background-color: var(--secondary--color);
}

.mailing-address-con {
    z-index: 4;
    position: relative;
}

.mailing-address-con .contact-form-wrapper form ul li input {
    width: 100%;
    padding: 14px 18px;
    background-color: var(--secondary--color);
    border: 1px solid var(--grey-color);
    height: 62px;
    border-radius: 14px;
}

.mailing-address-con .contact-form-wrapper form ul li {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}

.mailing-address-con .contact-form-wrapper form ul li input:focus,
.mailing-address-con .contact-form-wrapper form ul li textarea:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgb(20 70 46 / 8%), 0 0 8px rgb(15 15 237 / 60%);
    border-color: var(--primary--color);
}

.mailing-address-con .contact-form-wrapper form ul li textarea {
    height: 122px;
    padding: 14px 18px;
    background-color: var(--secondary--color);
    border: 1px solid var(--grey-color);
    width: 100%;
    float: left;
    border-radius: 14px;
}

.mailing-address-con .contact-form-wrapper h4 {
    margin-bottom: 18px;
    color: var(--black--family2);
}

.mailing-address-con .contact-form-wrapper .primary-button button {
    border-radius: 14px;
    height: 62px;
    line-height: 62px;
}

.mailing-address-con .mailing-address-content {
    padding-left: 95px;
}

.mailing-address-con .mailing-address-content h2 {
    margin-bottom: 14px;
}

.mailing-address-con .mailing-address-content p {
    margin-bottom: 32px;
}

.mailing-address-con .phone-no-con span,
.mailing-address-con .phone-no-con a {
    font-size: 20px;
    line-height: 30px;
}

.mailing-address-con .phone-no-con {
    margin-bottom: 45px;
}

.mailing-address-con .phone-no-con a:hover {
    text-decoration: none;
    color: var(--accent-color);
}

.mailing-address-con .need-help-con {
    border: 1px solid var(--grey-color);
    border-radius: 14px;
    padding: 37px 55px 44px;
}

.mailing-address-con .need-help-con h4 {
    margin-bottom: 16px;
}

.mailing-address-con .need-help-con .secondary-button a {
    height: 62px;
    line-height: 62px;
    min-width: 210px;
    border-radius: 14px;
}

span.error {
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
    display: block;
    padding-left: 10px;
    color: red;
    font-weight: 400;
    text-align: left;
}

/* 404 page styling start here */
.error-section,
.coming-soon-con {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #0f0fed 0%, #0ea6f5 100%);
    position: relative;
}

.error-con {
    position: relative;
    z-index: 2;
}

.error-con h2 {
    font-size: 170px;
    line-height: 165px;
    margin-bottom: 20px;
}

.error-con p {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 40px;
}

.error-con .secondary-button a i {
    margin-left: 4px;
}

.error-con .secondary-button a {
    min-width: 220px;
}

/* COMING SOON PAGE */
.coming-soon-con .new-logo {
    margin-bottom: 40px;
}

.coming-soon-con h1 {
    margin-bottom: 48px;
    font-size: 90px;
    line-height: 100px;
    text-transform: uppercase;
}

.coming-soon-con h2 {
    margin-bottom: 20px;
}

/* coming soon countdown timer styling */
.compaign_countdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.compaign_countdown ul li {
    float: left !important;
    width: auto;
    margin: 0;
    text-align: center;
    margin: 0 13px;
    min-height: 133px;
    min-width: 133px;
    background-color: var(--secondary--color);
    padding: 16px;
    color: var(--primary--color);
    font-size: 22px;
    font-weight: 300;
}

.compaign_countdown ul li:first-child {
    margin-left: 0;
}

.compaign_countdown ul li:last-child {
    margin-right: 0;
}

.compaign_countdown ul li span.days,
.compaign_countdown ul li span.hours,
.compaign_countdown ul li span.minutes,
.compaign_countdown ul li span.seconds {
    display: block;
    color: var(--accent-color);
    width: auto;
    font-size: 60px;
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: "Microsoft YaHei" ,"Montserrat", system-ui;
    line-height: 70px;
    border-radius: 0;
    font-weight: 700;
}

.compaign_countdown {
    margin: 0 auto;
    width: 70%;
}

.coming-soon-con {
    flex-grow: 1;
    min-height: 100vh;
}

.error-banner,
.coming-soon-con {
    flex-grow: 1;
}

.coming-soon-con * {
    color: var(--secondary--color);
}
