/*==========Header CSS Start==========*/
.site-header {
    position: fixed;
    top: -18px;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 10%;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.2); /* 半透明背景 */
  backdrop-filter: blur(10px); /* 背景模糊 */
  -webkit-backdrop-filter: blur(10px);
    /* background-color: #dee2e6; */
}

.header-bottom {
  padding: 30px 0;
  background-color: transparent;
  box-shadow: none;
}

.site-branding a {
    display: inline-block;
    position: relative;
}

.site-branding a img {
    width: 100%;
}

.header-menu{
    position: relative;
    text-align: right;
}
.main-navigation{
    display: inline-block;
}

.main-navigation ul {
    list-style: none;
    font-size: 0;
    line-height: 1;
    margin-bottom: 0;
    padding: 0;
}

.main-navigation ul li:first-child {
    margin-left: 0;
    padding-left: 0;
}

.main-navigation ul li {
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    margin-left: 24px;
    padding-left: 24px;
    position: relative;
}

.main-navigation ul li a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    transition: 0.3s;
   font-family: 'Epilogue', sans-serif;
}

.main-navigation.one ul li a {
    color: #10161b;
}

.main-navigation.two ul li a {
  color: #ffffff;
}

.header-btn, .header-btn-two {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 45px;
    text-transform: uppercase;
}

.main-navigation ul li.sub-items:hover>a, .main-navigation ul li a:hover, .main-navigation ul li.active>a {
    color: #ff6a32;
}

.main-navigation ul li.sub-items>a:before {
    content: "\f107";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    font-family: 'FontAwesome';
    font-size: 16px;
    transition: 0.3s;
}

.site-header.sticky-header .main-navigation ul li a, .site-header.sticky-header .search-icon a, .site-header.sticky-header .main-navigation ul li.sub-items>a:before {
    color: #010f2e;
}

.site-header.two.sticky-header .main-navigation ul li a, .site-header.two.sticky-header .search-icon a, .site-header.two.sticky-header .main-navigation ul li.sub-items>a:before, .site-header.two.sticky-header .main-navigation ul li.active>a:before {
    color: #ffffff;
}

.main-navigation ul li.sub-items>a {
    padding-right: 15px;
    position: relative;
}

.main-navigation ul li.sub-items:hover>a:before, .main-navigation ul li a:hover:before {
    transform: translate(0,-50%) rotate(-180deg);
    transition: 0.3s;
}

.main-navigation ul li:first-child {
    margin-left: 0;
    padding: 0;
}

.main-navigation ul li ul.sub-menu {
    position: absolute;
    top: 100%;
    left: -15px;
    width: 200px;
    height: auto;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 60px rgba(0,0,0,0.1);
    display: none;
    transition: 0.3s;
    z-index: 150;
}

.main-navigation.two ul li ul.sub-menu {
    background: #302f43;
    box-shadow: 1px 1px 60px rgba(0,0,0,0.2);
}

.main-navigation ul li:hover ul.sub-menu {
    display: block;
    animation: swip_up 0.3s linear 1;
}

@keyframes swip_up {
    from {
        transform: translate(0, 20px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.main-navigation ul li ul.sub-menu li {
    display: block;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid #ebebeb;
}

.main-navigation.two ul li ul.sub-menu li {
    border-bottom: 1px solid rgb(255,255,255,0.2);
}

.main-navigation ul li ul.sub-menu li:first-child {
   padding-left: 24px;
}

.main-navigation.two ul li ul.sub-menu li:first-child {
    padding-left: 24px;
} 

.main-navigation ul li ul.sub-menu li:last-child {
    border-bottom: none;
}

.main-navigation ul li ul.sub-menu li a {
    display: block;
    padding: 10px 7px;
}

.main-navigation ul li ul.sub-menu li a {
    display: block;
    color: #10161b;
    padding: 5px 15px;
    transition: 0.3s;
}

.main-navigation.two ul li ul.sub-menu li a {
    color: #ffffff;
}

.main-navigation ul li ul.sub-menu li a:hover {
    color: #ff6a32;
    transition: 0.3s;
}

.main-navigation ul li.sub-items:hover>a, .main-navigation ul li a:hover, .main-navigation ul li.active>a {
    color: #ff6a32;
}

.site-header.sticky-header .main-navigation ul li.sub-items:hover>a, .site-header.sticky-header .main-navigation ul li a:hover, .site-header.sticky-header .main-navigation ul li.active>a, .site-header.sticky-header .main-navigation ul li.sub-items:hover>a:before, .site-header.sticky-header .main-navigation ul li a:hover:before, .site-header.sticky-header .main-navigation ul li.active>a:before, .site-header.sticky-header .main-navigation ul li ul.sub-menu li a:hover, .site-header.two.sticky-header .main-navigation ul li.active>a:before {
    color: #ff6a32;
}

.top-hader-main-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top {
    padding: 10px 0;
    border-bottom: solid 1px #cccccc;
    transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}

.hd-reg-btn {
    padding: 5px 18px;
    background-color: #ff6a32;
    font-size: 15px;
    color: #ffffff !important;
    font-family: 'Rubik', sans-serif;
    border-radius: 8px;
}

.header-top img {
    margin-left: 20px;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: hero-bounce;
}

@keyframes hero-bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-8px);
    }
    60% {
      transform: translateY(-3px);
    }
  }

  .header-top p {
    margin-bottom: 0;
    line-height: 15px;
    color: #101621;
    margin-left: 8px;
  }

  .header-top p span {
    color: #ff6a32;
  }

  .header-btn a span img, .banner-btn a:first-child span img {
    margin-left: 8px;
  }

  .header-btn a:hover span img, .banner-btn a:first-child:hover span img {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: hero-bounce;
  }

  .header-top.two {
    border-bottom: 1px solid rgb(255,255,255,0.2);
  }

  .header-top.two .top-hader-main-box p {
    color: #ffffff;
  }
/*==Sticky Header Start==*/
.site-header.sticky-header {
    background-color: #ffffff;
    box-shadow: 6px 6px 60px 0px rgba(0,0,0,0.1);
    transition: 0.3s;
    border-bottom: none;
}

.site-header.two.sticky-header {
    background-color: #1f1f3a;
    box-shadow: 6px 6px 60px 0px rgba(0,0,0,0.2);
}

.sticky-header .header-bottom {
    padding: 20px 0px;
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    transition: 0.3s;
}

@keyframes headerSlideDown {
    0% {
      margin-top: -150px;
    }
    100% {
      margin-top: 0;
    }
  }

.sticky-header .header-top {
    margin-top: -54px;
    transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
}
/*==Sticky Header End==*/
/*==========Header CSS End==========*/


@media screen and (max-width: 991px) {
    .site-header {
        /* background: #ffffff; */
        height: 80px;
        padding: 0;
        /* box-shadow: 0 0 20px rgba(0,0,0,0.1); */
        transition: none;
        border-bottom: none;
        transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;

        /* top: -18px; */
        /* left: 0; */
        /* width: 100%; */
        /* z-index: 100; */
        height: 10%;
        transition: 0.3s;
        background-color: rgba(255, 255, 255, 0.2); /* 半透明背景 */
        backdrop-filter: blur(10px); /* 背景模糊 */
        -webkit-backdrop-filter: blur(10px);
    }

    /* .site-header.two {
        background-color: #1f1f3a;
    } */

    .header-top {
       display: none;
    }
    
    .header-bottom {
        background-color: transparent;
        box-shadow: none;
    }
    
    .sticky-header .header-bottom {
        padding: 23px 0px;
        animation: none;
        transition: 0.3s;
    }
    
    .site-branding {
        position: fixed;
        top: 5px;
        left: 30px;
        width: 200px;
        height: 70px;
        display: flex;
        align-items: center;
    }
    
    .site-branding a img.sticky-logo {
        display: block;
        position: relative;
        opacity: 1;
    }
    
    .header-search-box {
        display: none;
    }
    
    .toggle-button {
        display: block;
    }
    
    .header-menu,
    .site-header.sticky-header .header-menu {
        display: block;
        height: auto;
        color: red;
    }
    
    .header-btn {
        display: none;
    }
    
    .mobile-menu-box {
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        height: 100vh;
        background: transparent;
        padding: 100px 60px 30px;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        z-index: 100;
    }
    
    .toggle-menu .mobile-menu-box {
        opacity: 1;
        pointer-events: unset;
    }
    
    .mobile-menu-box:before {
        content: '';
        position: absolute;
        bottom: 50px;
        right: 0;
        width: 100%;
        height: 50%;
        background-size: 100%;
        background-position: bottom center;
        background-repeat: no-repeat;
        pointer-events: none;
        opacity: 0;
        transition: 0.3s;
        z-index: 3;
    }

    .menu-background.one {
        background: #ffffff;
    }

    .menu-background.two {
        background: #1f1f3a;
    }
    
    .menu-background.top {
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%) skewY(-20deg);
        width: 101%;
        height: 50.3333%;
        transition: 1s;
        z-index: 0;
    }
    
    .toggle-menu .menu-background.top {
        top: -20%;
        transition-delay: 0.5s;
    }

    .menu-background.middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skewY(-20deg);
        width: 101%;
        height: 0;
        transition: 1s;
        z-index: 1;
    }
    
    .toggle-menu .menu-background.middle {
        height: 50%;
        transition-delay: 0.5s;
    }
    
    .menu-background.bottom {
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translate(-50%) skewY(-20deg);
        width: 101%;
        height: 50.3333%;
        transition: 1s;
        z-index: 0;
    }
    
    .toggle-menu .menu-background.bottom {
        bottom: -20%;
        transition-delay: 0.3s;
    }
    
    .main-navigation ul {
        position: relative;
        display: block;
        text-align: left;
        z-index: 10;
        top: 60px;
    }
    
    .main-navigation ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 5vh;
        position: relative;
        left: -30px;
        opacity: 0;
        transition: 0.5s;
    }
    
    .main-navigation.toggle-menu ul li {
        left: 0;
        opacity: 1;
    }
    
    .main-navigation.toggle-menu ul li:nth-child(1) {
        transition-delay: 0.5s;
    }
    
    .main-navigation.toggle-menu ul li:nth-child(2) {
        transition-delay: 0.6s;
    }
    
    .main-navigation.toggle-menu ul li:nth-child(3) {
        transition-delay: 0.7s;
    }
    
    .main-navigation.toggle-menu ul li:nth-child(4) {
        transition-delay: 0.8s;
    }
    
    .main-navigation.toggle-menu ul li:nth-child(5) {
        transition-delay: 0.9s;
    }
    
    .main-navigation.toggle-menu ul li:nth-child(6) {
        transition-delay: 1s;
    }
    
    .main-navigation.toggle-menu ul li:nth-child(7) {
        transition-delay: 1.1s;
    }
    
    .main-navigation.toggle-menu ul li:nth-child(8) {
        transition-delay: 1.2s;
    }
    
    .main-navigation.toggle-menu ul li:nth-child(9) {
        transition-delay: 1.3s;
    }
    
    .main-navigation.toggle-menu ul li:nth-child(10) {
        transition-delay: 1.4s;
    }
    
    .main-navigation ul li:last-child {
        margin-bottom: 0;
    }
    
    .header-search-box {
      display: none;
    }
    
    .main-navigation.toggle-menu ul li {
      text-align: left;
      margin-top: 0;
      margin-left: 0;
      opacity: 1;
      transition: 0.5s;
      transition-delay: 0.4s;
    }
    
    .main-navigation ul li {
      display: block;
      margin: -50px 0 10px 0;
      padding: 10px 40px 20px 40px;
      opacity: 0;
      transition: 0.5s;
    }
    
    .main-navigation.toggle-menu ul li {
      text-align: left;
      margin-top: 0;
      opacity: 1;
      transition: 0.5s;
      transition-delay: 0.4s;
    }
    
    .main-navigation ul li a {
      font-size: 20px;
      line-height: 28px;
      color: #ffffff;
    }
    
    .main-navigation ul li {
      display: block;
      margin: 0 0 10px 0;
      padding: 10px 40px 20px 0;
      opacity: 0;
      transition: 0.5s;
    }
    
    .main-navigation ul li ul.sub-menu, .main-navigation ul li:hover ul.sub-menu {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      background: transparent;
      box-shadow: none;
      border-radius: 0;
      display: block;
      animation: none;
      padding: 0;
      margin-top: 10px;
      transition: 0s;
      display: none;
    }
    
    .main-navigation ul li ul.sub-menu li:first-child {
        padding-left: 8px;
    }
    
    .main-navigation ul li ul.sub-menu li {
      text-align: left;
      border: none;
      padding: 0 0 0 10px;
      margin-bottom: 10px;
    }
    
    .main-navigation ul li ul.sub-menu li a {
      color: #10161b;
      padding: 0;
      font-size: 18px;
      line-height: 24px;
    }
    
    .main-navigation ul li.sub-items>a:before {
      color: #10161b;
    }
    
    .main-navigation ul li.sub-items:hover>a:before, .main-navigation ul li a:hover:before {
      transform: translate(0,-50%) rotate(0deg);
      color: #ff6a32;
    }
    
    .main-navigation ul li.sub-items:hover>a, .main-navigation ul li a:hover, .main-navigation ul li.active>a {
      color: #ff6a32;
    }
    
    .site-header.sticky-header .main-navigation ul li a, .site-header.sticky-header .search-icon a, .site-header.sticky-header .main-navigation ul li.sub-items>a:before {
      color: #10161b;
    }
    
    .main-navigation ul li.sub-items:hover>a, .main-navigation ul li a:hover, .main-navigation ul li.active>a::before {
      color: #ff6a32;
    }
    
    .main-navigation ul li:first-child {
      padding: 0 40px 20px 0;
    }

    .site-branding {
        top: 22px;
        transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
    }

    .site-header.sticky-header {
        height: 80px;
        transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
    }

    .site-header.sticky-header .site-branding {
        top: 6px;
        transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
    }

    .site-header.sticky-header .toggle-button {
        top: 10px;
        transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
    }

    .banner-title-box-one {
        text-align: center;
        padding-top: 22px;
    }

    .banner-btn {
        justify-content: center;
    }

    .banner-img-box-one {
        justify-content: center;
        padding-top: 80px;
    }

    .banner-aliment-small-box-one {
        left: 230px;
    }

    .main-banner-one {
        padding-bottom: 36px;
        padding-top: 135px;
    }

    .main-service-one {
        padding-top: 0px;
    }

    .main-service-one {
        padding-bottom: 12px;
    }

    .newsletter-form-one .sec-btn {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
    }

    .newsletter-form-one .form-input-one {
        padding-right: 30px;
    }

    .newsletter-bg-one {
        padding: 50px 0;
    }

    .newsletter-form-one {
        width: 60%;
    }

    .main-about-us-one {
        padding: 323px 0 80px 0;
    }

    .main-about-text-box-one {
        margin-left: 0;
        margin-top: 50px;
    }

    .about-us-paypal-one {
        left: 20%;
    }

    .about-us-master-one {
        right: 26%;
    }

    .download-store-one.line::before {
        width: 80%;
    }

    .main-pricing-one {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .pricing-box-one {
        margin-bottom: 30px;
    }

    .main-faq-one {
        padding: 80px 0;
    }

    .faq-img-bg-one {
        position: relative;
        margin-top: 60px;
    }

    .banner-play-btn {
        margin-left: 30px;
    }

    .main-team-one {
        padding: 80px 0;
    }

    .team-text-inner-one {
        padding: 20px 20px;
    }

    .why-choose-us-text-box {
        margin-left: 0;
        margin-top: -10px;
    }

    .faq-box-one {
        margin-bottom: 22px;
        margin-right: 0;
    }

    .main-why-choose-us-one {
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .main-testimonial-one {
        padding-top: 80px;
        padding-bottom: 27px;
    }

    .testimonial-img-box-one {
        margin-left: 0;
        margin-top: 50px;
    }

    .testimonial-img-client-one.c-one {
        width: 18%;
    }

    .testimonial-img-client-one.c-two, .testimonial-img-client-one.c-five, .testimonial-img-client-one.c-six {
        width: 12%;
    }

    .testimonial-img-client-one.c-four {
        width: 10%;
    }

    .main-blog-one {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .blog-box-one {
        margin-bottom: 30px;
    }

    .main-get-in-touch-one {
        padding: 80px 0;
    }

    .get-in-touch-content-one {
        margin-right: 0;
        margin-bottom: 38px;
    }

    .main-footer-one {
        padding-top: 80px;
    }

    .footer-btn-one {
        margin-bottom: 75px;
    }

    .footer-links-one ul li {
        margin-right: 25px;
    }

    .footer-content-one .h2-title {
        font-size: 45px;
    }

    .banner-text-box-two p {
        font-size: 15px;
        line-height: 24px;
    }

    .about-imgtwo-two {
        left: 0;
    }

    .about-content-box-two {
        padding-left: 0;
        padding-top: 50px;
    }

    .counter-box-two {
        margin-bottom: 30px;
    }

    .main-about-us-two {
        padding-bottom: 70px;
        padding-top: 80px;
    }

    .main-counter-two {
        padding-bottom: 45px;
    }

    .main-service-main-two {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .payment-content-box-two {
        padding-right: 0;
        padding-bottom: 50px;
    }

    .main-payments-two {
        padding-bottom: 80px;
    }

    .main-pricing-two {
        padding-top: 80px;
        padding-bottom: 263px;
    }

    .pricing-content-two {
        padding-left: 0;
        padding-top: 50px;
    }

    .newsletter-illustration-two {
        width: 20%;
    }

    .main-team-two {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main-testimonial-two {
        padding: 80px 0;
    }

    .testi-img-client-two.one, .testi-img-client-two.two, .testi-img-client-two.three, .testi-img-client-two.five, .testi-img-client-two.six {
        width: 6%;
    }

    .testi-img-client-two.two, .testi-img-client-two.five {
        top: 60%;
    }

    .main-why-choose-us-two {
        padding: 80px 0;
    }

    .why-choose-img-box-two {
        width: 100%;
        height: 582px;
    }

    .why-choose-img-two.one {
        right: 15%;
    }

    .why-choose-img-two.two {
        left: 15%;
    }

    .why-choose-img-two.three {
        left: 30%;
    }

    .why-choose-img-two.four {
        right: 5%;
    }

    .why-choose-content-two {
        padding-right: 0;
        padding-bottom: 50px;
    }

    .main-navigation.two ul li ul.sub-menu li:first-child {
        padding-left: 8px;
    }

    .main-navigation ul li ul.sub-menu li a {
        padding-bottom: 8px;
    }

    .main-about-us-in-one {
        padding-top: 132px;
        padding-bottom: 20px;
    }

    .features-box-one {
        margin-bottom: 30px;
    }

    .main-in-counter {
        padding-top: 335px;
        padding-bottom: 80px;
        margin-top: -348px;
    }

    .achievement-in-content-box-one {
        padding-right: 0;
        padding-bottom: 50px;
    }

    .achievement-img-box-one, .achievement-img-box-one img:first-child {
        width: 100%;
    }

    .achiv-haxgotwo-one {
        bottom: -4%;
    }

    .features-box-one {
        padding: 20px;
    }

    .bgin-circleblurtw-one, .bgin-circlebluro-one {
        width: 8%;
    }

    .main-in-facts-two {
        padding: 80px 0;
    }

    .facts-content-box-two {
        padding-right: 0;
        padding-bottom: 50px;
    }

    .main-in-payments-two {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .main-in-payments-two {
        padding-top: 80px;
    }

    .main-in-payments-two .payment-content-box-two {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
        padding-bottom: 0;
    }

    .main-in-testimonial-two {
        padding-top: 240px;
        padding-bottom: 80px;
    }

    .main-in-services-two .service-box-two.odd {
        margin-bottom: 0;
    }

    .main-in-services-two .service-box-two.even {
        margin-top: 0;
    }

    .main-in-services-two .service-box-two {
        margin-bottom: 30px !important;
    }

    .main-in-services-two {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .main-inserv-testimonial-two {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main-inserv-payments-two {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main-in-service-detail-one {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .service-detail-contentbox-one {
        padding-left: 0;
        margin-top: 50px;
    }

    .main-in-hwd-one {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .main-why-choose-us-sd-one {
        padding-top: 80px;
        padding-bottom: 10px;
    }

    .main-why-choose-us-sd-one .why-choose-us-text-box {
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .main-service-detail-two {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    .service-detail-info-two {
        margin-left: 0;
        margin-top: 50px;
    }

    .main-team-in-se-one {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main-team-in-counter-one {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main-team-in-tm-one {
        padding-top: 80px;
    }

    .main-team-mot-in-two {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .main-team-sf-in-two {
        padding-top: 250px;
        padding-bottom: 50px;
    }

    .team-features-box-two {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .main-team-detail-in-one {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .team-detail-main-one {
        margin-left: 0;
        margin-top: 50px;
    }

    .main-team-detail-in-info-two {
        padding-top: 80px;
    }

    .team-detail-main-two {
        margin-left: 0;
        margin-top: 50px;
    }

    .team-infobg-two {
        padding: 50px;
    }

    .mbm {
        margin-bottom: 30px !important;
    }

    .main-pricing-in-one {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main-get-in-pc-touch-one {
        padding-bottom: 80px;
    }

    .main-pricing-in-two {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .main-faq-in-one {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .faq-accordion-one.one-one {
        margin-bottom: 20px;
        padding-right: 0;
    }

    .faq-accordion-one.two-one {
        padding-left: 0;
    }

    .main-faq-in-one-two, .main-faq-in-two-two {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .faq-in-one-two-content {
        padding-right: 0;
        margin-bottom: 50px;
    }

    .faq-in-two-two-content {
        padding-left: 0;
        margin-top: 50px;
    }

    .main-blog-grid-in {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main-blog-list-in {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .blog-list-box {
        padding-right: 0;
        margin-bottom: 80px;
    }

    .main-blog-detail-in-one {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .blog-detail-main-content-box-one {
        padding-left: 0;
        margin-top: 80px;
    }

    .bd-related-blog-one {
        margin-top: 70px;
    }

    .bd-comment-one{
        margin-top: 50px;
    }

    .bd-write-comment-one {
        margin-top: 80px;
    }

    .blog-detail-main-content-box-two {
        padding-right: 0;
        margin-bottom: 80px;
    }

    .main-contact-us-in-one {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .contact-us-info-one {
        margin-bottom: 50px;
    }

    .main-contact-us-in-two {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .contact-us-info-box-two {
        padding-left: 0;
        margin-top: 50px;
    }

    .main-map-contact-in-two {
        padding-bottom: 80px;
    }

    .main-404-error-in-one, .main-404-error-in-two.about-box-years-two .h4-title {
        padding-top: 80px;
        padding-bottom: 80px;
    }

}